@import "tailwindcss";


*{
  font-family: Outfit;
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  
  --shadow-black : 4px 4px 0 #000;
  --shadow-white : 4px 4px 0 #fff;

  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));


}

@utility shadow-black {
  box-shadow: var(--shadow-black);
}

@utility shadow-white {
  box-shadow: var(--shadow-white);
}

@utility grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}
